@import '~bulma/sass/utilities/all';
@import 'tempest/variables';

// Bulma/Buefy specific overrides
$footer-padding: 1vh 1.5rem 0;
$footer-background-color: $theme-isabelline;
$label-color: $theme-deep-space-sparkle;

// Side nav
$menu-item-color: $theme-isabelline;
$menu-item-hover-background-color: $theme-charleston-green;
$menu-item-active-background-color: $theme-charleston-green;
$menu-item-active-color: $theme-deep-space-sparkle;
$menu-item-radius: 0 30px 30px 0;
$menu-list-link-padding: 1vh 0 1vh 1.5vw;

@import '~bulma';
@import '~buefy/src/scss/buefy';

// Standard project styling
html {
  overflow-y: auto;
}

body {
  background: $theme-isabelline;
}
