@import '~bulma/sass/utilities/all';
@import 'tempest/variables';

// Bulma/Buefy specific overrides
$footer-padding: 1vh 1.5rem 0;
$footer-background-color: $theme-isabelline;
$label-color: $theme-deep-space-sparkle;

@import '~bulma';
@import '~buefy/src/scss/buefy';

// Standard project styling
html {
  overflow-y: auto;
}

body {
  background: $theme-isabelline;
}
