@import '~bulma/sass/utilities/all';
@import 'colors';

$footer-padding: 1vh 1.5rem 1vh;
$footer-background-color: $theme-isabelline;
$label-color: $theme-deep-space-sparkle;

@import '~bulma';
@import '~buefy/src/scss/buefy';
