@charset "utf-8";
@import 'variables';

// Importing all of Bulma
@import '~bulma/bulma.sass';

// Important to import styles after Bulma, to take priority
@import 'auth';

.is-clickable {
  cursor: pointer;
}

html,
body,
#app,
.App {
  overflow-y: hidden;
}

.App {
  display: flex;
}
